<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heartsuit.springbootmybatis.oa.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.heartsuit.springbootmybatis.oa.entity.Employee">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="findAll" resultType="com.heartsuit.springbootmybatis.oa.entity.Employee">
        select * from demo_employee
    </select>

    <select id="findById" resultType="com.heartsuit.springbootmybatis.oa.entity.Employee">
        select * from demo_employee where id = #{id}
    </select>

    <insert id="save" parameterType="com.heartsuit.springbootmybatis.oa.entity.Employee">
        insert into demo_employee(name, age, phone) values(#{name}, #{age}, #{phone})
    </insert>

    <insert id="update" parameterType="com.heartsuit.springbootmybatis.oa.entity.Employee">
        update demo_employee set name=#{name}, age=#{age}, phone=#{phone} where id=#{id}
    </insert>

    <delete id="deleteById" parameterType="long">
        delete from demo_employee where id=#{id}
    </delete>
</mapper>