<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action="signin" method="post">
    <span>用户名</span><input type="text" name="username"/> <br>
    <span>密码</span><input type="password" name="password"/> <br>
    <span>验证码</span><input type="text" name="code"/> <span><img th:src="${img}"></span><br>
    <span>验证码</span><input type="text" name="uuid" th:value="${uuid}"/> <br>

    <input type="submit" value="登录">
</form>
</body>
</html>